<GridLayout rows="*, *, *" columns="*, *, *" width="270" height="150" horizontalAlignment="center" verticalAlignment="middle" >
  <Button backgroundColor="green"  width="80" height="80" textAlignment="center" text="+" row="0" col="0" (tap)="onPlus('H')" ></Button>
  <Button backgroundColor="green"  width="80" height="80" textAlignment="center" text="+" row="0" col="1" (tap)="onPlus('m')" ></Button>
  <Button backgroundColor="green"  width="80" height="80" textAlignment="center" text="+" row="0" col="2" (tap)="onPlus('s')" ></Button>
  <Button backgroundColor="white"  width="80" height="30" textAlignment="center" [text]="this.hours"   row="1" col="0"        ></Button>
  <Button backgroundColor="white"  width="80" height="30" textAlignment="center" [text]="this.minutes" row="1" col="1"        ></Button>
  <Button backgroundColor="white"  width="80" height="30" textAlignment="center" [text]="this.seconds" row="1" col="2"        ></Button>
  <Button backgroundColor="orange" width="80" height="80" textAlignment="center" text="-" row="2" col="0" (tap)="onMinus('H')"></Button>
  <Button backgroundColor="orange" width="80" height="80" textAlignment="center" text="-" row="2" col="1" (tap)="onMinus('m')"></Button>
  <Button backgroundColor="orange" width="80" height="80" textAlignment="center" text="-" row="2" col="2" (tap)="onMinus('s')"></Button>
</GridLayout>