<ActionBar [title]="this.test">
  <NavigationButton ios:visibility="collapsed" icon="res://menu"
                    (tap)="onDrawerButtonTap()">
  </NavigationButton>
  <ActionItem android:visibility="collapsed" icon="res://menu"
              (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <StackLayout orientation="horizontal" horizontalAlignment="center"
               verticalAlignment="center">
    <Label [text]="this.test" verticalAlignment="center"></Label>
    <Switch checked="{{this.scheduled}}" (tap)="onSwitchScheduled()"></Switch>
  </StackLayout>
</ActionBar>
<ScrollView orientation="vertical">
  <StackLayout orientation="vertical" backgroundColor="lightgray">
    <WrapLayout orientation="horizontal" backgroundColor="gray"
                *ngFor="let item of pines" margin="5" padding="5">
      <Label width="300"
             [text]="'PIN: D' + item.pin + ' ' + item.description + ' PROG1'"></Label>
      <Button *ngIf="!this.scheduled" [text]="'ON / OFF'"
              (tap)="onSwitchPin(item.pin)">
      </Button>
      <Label *ngIf="this.scheduled" [text]="'A las ' + (item.start0 | date:'HH:mm:ss':'+0000') + ' durante ' 
           + item.duration0 + ' segundos'"></Label>
      <app-timepicker *ngIf="this.scheduled" [horaMs]="item.start0"
                      (cambio)="onStart0Change(item.pin, $event)">
      </app-timepicker>
      <TextField height="30" *ngIf="this.scheduled" [text]="item.duration0"
                 hint="Enter text" color="orangered"
                 backgroundColor="lightyellow"
                 (blur)="onDuration0Blur(item.pin, $event)"></TextField>
      <Slider width="200" backgroundColor="blue" color="red"
              *ngIf="this.scheduled" [value]="item.duration0" minValue="0"
              maxValue="300"
              (valueChange)="onDuration0Change(item.pin, $event)"></Slider>
      <Label width="300"
             [text]="'PIN: D' + item.pin + ' ' + item.description + ' PROG2'"></Label>
      <Label *ngIf="this.scheduled" [text]="'A las ' + (item.start1 | date:'HH:mm:ss':'+0000') + ' durante ' 
                 + item.duration1 + ' segundos'"></Label>
      <app-timepicker *ngIf="this.scheduled" [horaMs]="item.start1"
                      (cambio)="onStart1Change(item.pin, $event)">
      </app-timepicker>
      <TextField height="30" *ngIf="this.scheduled" [text]="item.duration1"
                 hint="Enter text" color="orangered"
                 backgroundColor="lightyellow"
                 (blur)="onDuration1Blur(item.pin, $event)"></TextField>
      <Slider width="200" backgroundColor="blue" color="red"
              *ngIf="this.scheduled" [value]="item.duration1" minValue="0"
              maxValue="300"
              (valueChange)="onDuration1Change(item.pin, $event)"></Slider>
      <Button *ngIf="this.scheduled" [text]="'Reprogramar'"
              (tap)="onUpdatePin(item.pin)"></Button>
    </WrapLayout>
  </StackLayout>
</ScrollView>